<!DOCTYPE html>
<html>
    <head>
        <title>Todos</title>
    </head>
    <body>
        <h1>Todos</h1>
        <ul>
            {% for todo in Todos %}
            <li>{{ todo.title }} - {{ todo.description }}</li>
            {% endfor %}
        </ul>
<!--        <form method="POST" action="/users">-->
<!--            <input type="title" name="title" placeholder="Title">-->
<!--            <input type="email" name="email" placeholder="Email">-->
<!--            <input type="password" name="password" placeholder="Password">-->
<!--            <button type="submit">Create User</button>-->
<!--        </form>-->
    </body>
</html>
